:root {
    --blue: #d1f8ff;
    --white: #fcfcfc;
  }

body {
    box-sizing: border-box;
    background: repeating-linear-gradient(-45deg, rgb(248, 248, 248) 2px, rgb(207, 249, 255) 200px);
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
    
  }
  #grid {
    display: grid;
    width: 100%;
    grid-template-columns: 35% 1fr;
  }

  main {

  }

  .main-container {
    margin: 10px auto;
    width: 1000px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    background-color: var(--white);
    box-shadow: 15px 15px 40px 1px rgba(3, 44, 54, 0.23);
    border-radius: 1px;
    background-image: url(/rsschool-cv/images/notebook.jpg);
    background-blend-mode: color-burn;
  }

#left {
    width: 100%;
  }
#right {
    margin-left: 20px;
    margin-right: 40px;
  }
 header img {
     margin-top: 20px;
     margin-left: 40px;
 }
 main {
     margin-left: 40px;
 }
#code {
    margin-: 20px;

}
.language-bold {
    font-weight: bold;
}

h1{
    font-size: 196%;
    font-weight: bolder;
    font-variant: small-caps;
    background-color: var(--blue);
    padding-left: 10px;
}

h2{
    font-weight: bold;
    font-variant: small-caps;
    background-color: var(--blue);
    padding-left: 10px;
}
.header-text {
    
    font-size: 150%;
    font-weight: bolder;
    font-variant: small-caps;
    background-color: var(--blue);
    padding-left: 10px;
}

footer{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
}

.footer-elmnt {
    width: 40%;
}

pre{
    background-color: var(--blue);
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

.menu{
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    margin: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight:900;
    color: #524f4e;
    background: #d1f8ff;
    box-shadow: 0 3px 3px rgba(90, 90, 90, 0.1);
    transition: .3s;
    
}

.menu:hover {
    background: #fcfcfc;
    box-shadow: 0 5px 5px rgba(131, 131, 131, 0.4);
    color: #d1f8ff;
    transform: translateY(-3px);
  }

a {
    text-decoration: none;
    List-style: none;
}

.contacts {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    margin: 5px;
    text-align: center;
    background: var(--blue);
}

.contacts:hover {
    background: #fcfcfc;
    box-shadow: 0 5px 5px rgba(131, 131, 131, 0.4);
    color: #d1f8ff;
    transform: translateY(-1px);
}
footer {
    display: inline-block;
    width: 100%;
    line-height: 0px;
    text-align: center;
    background: var(--blue);
    opacity: 50%;
}

#rsschool-icon:hover {
    transform: translateY(-1px);
    opacity: 50%;
}

#rings {
    position: fixed;
    top: 70px;
    left: 360px;
    transform: rotate(-0.5deg);

}